misc/
scripts/

bin/
obj/

*.user
*.suo
.nuget/
packages/
project.lock.json
project.fragment.lock.json

.vs/
.idea/
*.rsuser
*.user
*.userprefs

.dockerignore

.env
.env.*
appsettings.*.local.json
appsettings.Local.json

.DS_Store
Thumbs.db

TestResults/
coverage/
*.trx
*.xml

**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

*.log
logs/

_Gallery.razor
_Gallery.razor.css