@page "/"

<PageTitle>Misty</PageTitle>

<div class="smoke-test">
    <h1 class="display">Misty</h1>
    <p class="ui">Smoke test</p>
    <div class="icons">
        <Blazicon Svg="Hash" />
        <Blazicon Svg="MessageCircle" />
        <Blazicon Svg="Settings" />
        <Blazicon Svg="User" />
    </div>
</div>
